@model IEnumerable<WavePayroll.Models.FileUpload.UploadedFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobGroup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UploadedFileID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UploadedFileID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UploadedFileID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
